body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
@media screen and (max-width:768px) {
    html{
        font-size:16px;
    }
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top:1.2rem;
}
@media screen and (max-width:768px) {
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin:0px;
    
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1rem;
    
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
   
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#hamburger-icon{
    
    position: absolute;
    left:20%;
    top:2%;
    width: 150px;
    display: none;
    /* visibility: hidden; */
}
#hamburger-icon .icon{
    width: 33px;
  height: 5px;
  background-color: whitesmoke;
  margin: 6px 0;
  display: flex;
  transform: translateX(80px);
}
#hamburger-list{
    width:95px;
    height:35vh;
    background-color:#968d85;
    padding-left:20px;
    box-shadow: 1px 1px 4px 2px rgb(51, 50, 50);
    display: none;
    /* box-shadow: -3px 0 3px 2px rgb(51, 50, 50); */
}

#hamburger-list .horizontal-list li {
    display:block;
    margin: 2px 8px 2px 0;
    font-weight: 100;
    font-size: 1rem;
    padding:8px 2px 4px 0;
    
}
@media screen and (max-width:572px) {
    #body-header .display-none{
        display: none;
    }
    #hamburger-icon{
       
        display:inline-block;
        left:70%;
        
    }
    #hamburger-icon:hover #hamburger-list{
        display:block;
        /* position: absolute; */
        
    }
}

/*------ name and social icons------ */
#name-social-container{
    margin-top:20vh;
}
#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    
    width: 1rem;
    padding: 10px;
    border-radius: 50%;
}
.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
} 


/* ------section----- */
section{
    width: 100%;
    /* height: 65vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n+1){
    background-color: white;
}
section:nth-child(2n){
    background-color: #efefef;
}
.section-heading{
    width: auto;
    padding:20px 10px 10px;
   
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color:#2857a4;
    display: inline-block;
}


/*------- about-section------ */
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin:auto;
    margin-top: -17vh;
}
#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
/* common margin class */
.mb75px{
    margin-bottom:75px
}
/* common color class */
.text-highlighter {
    color: #2857a4;
    font-weight: 600;
}
.mb-blue{
    background-color: #2857a4;
}
.mb-orange{
    background-color:#ec4d1c; 
}
.mb-purple{
    background-color: #93738c;
}
.mb-green{
    background-color: #0b8176;
}

/* percentage class */
.eighty-five-percent{
    width:85%;
    height: inherit;
    box-shadow:4px 0 4px -1px grey;
}
.fifty-percent{
    width:50%;
    height: inherit;
    box-shadow:4px 0 4px -1px grey;
}
.seventy-five-percent{
    width:75%;
    height: inherit;
    box-shadow:4px 0 4px -1px grey;
}



/* ------skill-section----- */
#skills{
    margin-top: 30px;
}
.skill-display{
width: 70%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 40px;

}
.skill-progress{
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius:1.2rem;
   box-shadow: inset 0 2px 6px -1px grey;
   margin:20px 30px 30px 30px;
  
}
.skill-progress>div{
    border-radius: 20px 0 0 20px;
}

.skill-name span{
    color: white;
    font-size: 1.1rem;
    margin-left:13px;
vertical-align:middle;
}
@media screen and (max-width:768px) {
    .skill-display{
        width:80%;
    } 
}
@media screen and (max-width:572px) {
    .skill-display{
        width:70%;
    } 
}

/* ---------experience------- */
.timeline{
    position: relative;
    width: 75vw;
    margin-top:-50px;
    /* border: 2px solid black; */
}
.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left:5%;
     min-height: 150px;
    /* border:2px solid black; */
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box:nth-child(2n+1):after{
    content:'';
    border-radius: 50%;
    position: absolute;
     top: 35%;
    right:-13.7%; 
    width: 1rem;
    height: 1rem;
    background-color: #d3d3d3;
    z-index:1;
}
.timeline-box:nth-child(2n):after{
    content:'';
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left:-10.5%;
    width: 1rem;
    height: 1rem;
    background-color: #d3d3d3;
    z-index:1;
}
.timeline-divider{
    position: absolute;
    height: 65%;
    width:0%;
    border: 2px dashed #0096fa6b;
    left:50%;
    top:13%
}
.time-traveller{
    position: sticky;
     transform: rotate(90deg);
     top:30%;
    z-index:2;
}
.time-traveller span i{
    font-size: 1.7rem;
}
#timeline-logo{
    position: absolute;
    width: 50px;
    top:5%;
}
#timeline-logo>img{
    width: 100%;
}
.timeline-box h5{
    color: #2857a4; 
    margin-top: 3%;
    margin-bottom:-4%;
    text-align: right;   
}

.P-heading{
    font-size:1.2rem;
    font-weight:500;
    margin-bottom:-3%;
    text-align: right; 
}
.m-heading{
    font-size:1rem;
    text-align: right;
}
.d-heading{
    font-size:0.9rem;
    text-align: justify;
    line-height:1.5;
}
/*------ media query on Work Experience section------- */
@media screen and (max-width:768px) {
    .timeline-divider{
        left:5.5%;
    }
    /* .timeline{
        width:90vw;
    } */
    .timeline-box{
        left: 12.7% !important;
        width: 85%;
    }
    /* .timeline-box:nth-child(2n){
        left:12%;
    } */
    .timeline-box::after{
       left:-11% !important;

    }
}
@media screen and (max-width:572px) {
    .timeline{
        left:-5%;
    }
     .timeline-box{
        left: 12% !important;
        width: 95%;
    }
    .timeline-box::after{
       left:-10% !important;

    }
}




/* --------education-section---------- */


#education .timeline-box::before{
    margin-bottom:-11%;
}

/*------ media query on Education section------- */
 @media screen and (max-width:768px) {
    
    #education .timeline-box::before{
        margin-bottom:-15%;
    }
    
    
} 


/*------- portfolio-section--------- */
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
   
    color: white;
     background-color: #80808078;
}



/*-------contact-section-------*/
#contact {
  
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    width: 1.2rem;
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 15px 15px 20px 15px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
@media screen and (max-width:768px) {
    #contact-container {
    flex-wrap: wrap;
}
#contact-form-container{
    width: 80%;
    margin-left:-6%;
}
   #contact-form{
    width:100%;
   }
#my-details-container {
    width: 75%;
    margin-left: 12%;
    text-align: justify;
}
}
@media screen and (max-width:572px){
    #contact-container{
        margin-left:-3%;
    }
}
